body {
    background-color: #e5dada;
}

h1 {
    color:  #002642;
}

html{
    
    font-family: 'Rubik', sans-serif;
}




section{
    background-color: white;
    height: 8vh;
}

.class_for_about_page{
    background-color: #e5dada;

}

.class_for_courses_page {
    background-color: #e5dada;
}


